@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dorsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');

body {
    background-color:#DFB0A5;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: 300;
    margin: 0;
}

h1 {
  color: black;
  font-size: 150px;
  margin: 0;
  font-family: 'DM Serif Display', serif;
}

h2 {
  color: black;
  font-weight: 300;
}

a {
  color: white;
  text-decoration: none;
  font-size: medium;
}

a:hover {
  color: #d49a89;
}

p {
  color: black;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.wrapper {
    margin: 0;
    padding: 32px;
}

#wrapper-white {
  background-color: white;
}

/* .card {
  width: 100%;
  margin: 10px 0 10px 0;
  padding: 30px;
  background-color: black;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
} */


/* Navbar */
/* Style the links inside the navigation bar */

.topnav {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 56px;
  font-family: 'Dorsa', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
}

/* header */

#header {
  display: flex;
  justify-content: space-evenly;
  margin-top: 32px;
}

#name {
  position: relative;
  margin-top: 16%;
}

/* pictures */

#profile-picture {
  height: 70vh;
  border-radius: 2px;
  border: 2px solid #DFB0A5;
  box-shadow: 6px 6px black;
}

#gallery {
  padding: 64px;
}

.picture {
  height: 50vh;
  border-radius: 2px;
}

.picture-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.picture-right {
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 16px;
}

/* font awesome icons */

#icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 24px;
}

.icon {
  font-size: 24px;
  color:white;
}

/* subtitle */

#professions {
  display: flex;
  justify-content: space-evenly;
}

#subtitle {
  color:black;
  font-family: 'Dorsa', sans-serif;
  font-size: 48px;
  margin-top: 16px;
}

/* Biography */

.biography {
  padding-top: 24px;
  width: 85%;
  margin: 0 auto;
}

#biography-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.biography h2 {
  font-family: 'Dorsa', sans-serif;
  font-size: 48px;
}

.biography p {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 24px;
  width: 85%;
  text-align: justify;
}

/* Projects */

.project {
  display: flex;
  justify-content: space-around;
}

.project h2 {
  font-family: 'Dorsa', sans-serif;
  font-size: 48px;
  margin: 0;
}

.project-card {
  background-size: cover;
  background-position: center;
  height: 240px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 36px;
  font-family: 'Darker Grotesque', sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 2px solid white;
  box-shadow: 6px 6px black;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
    }
  }
  @media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .container {
      width: 500px;
    }
  }
  @media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .container {
      width: 300px;
    }
  }